.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.signup-form {
  justify-content: center;
}

/* input {
  padding: 5pt;
  margin: 5pt;
} */

input {
  position: relative;
  float: left;
  width: 90%;
  border: none;
  border-bottom: 1px solid #b0bec5;
  background-color: transparent;
  font-size: 14px;
  outline: none;
  transition: all 0.5s;
  margin: 5pt;
  padding: 5pt;
}
